:host {
  background-color: var(--background-secondary);
  min-height: 40px;
  height: 40px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  margin-bottom: 10px;
}

header {
  min-height: 40px;
}
