<p>
  <mat-form-field appearance="outline" color="primary" [style.width]="width()">
    <mat-label>{{ label() }}</mat-label>
    @switch (type()) { @case ("select") {
    <select [style.color]="color()" [formControl]="control()" matNativeControl>
      <ng-content />
    </select>
    } @default {
    <input
      [style.color]="color()"
      [formControl]="control()"
      matInput
      [type]="type()"
    />
    } } @let iconName = icon(); @if(iconName){
    <mat-icon matSuffix>{{ iconName }}</mat-icon>
    }
  </mat-form-field>
</p>
