<!--@let data = transaction();-->
<!--@let profits = data.revenues - data.expenses;-->

<!--<div class="container">-->
<!--  <div class="profits">{{ "$" + (profits) }}</div>-->
<!--  <div class="time">{{ time }}</div>-->
<!--</div>-->

<div class="info">
  <p style="font-size: 15px; font-weight: bold; cursor: pointer;">
    Nike football shoes
  </p>
  <p style="font-size: small; color: var(--typography-secondary)">
    2 hours ago
  </p>
</div>
<div class="profits" style="color: green">
  <p style="align-self: flex-end; font-weight: bold;">+$125.00</p>
</div>
<div class="group" title="/clothing/shoes">
  <app-shared-ui-icon name="folder"/>
</div>
