<header>
  <h3>reset password</h3>
</header>
<main>
  <app-layout-form-group
    [formGroup]="formGroup"
    [errorDictionaries]="errorDictionaries"
    submitButtonName="reset password"
    (submitted)="resetPasswordHandler()"
  >
    <app-layout-form-field
      [formGroup]="formGroup"
      type="email"
      placeholder="email"
      icon="mail"
      controlName="email"
    />
    <app-layout-form-field
      [formGroup]="formGroup"
      [type]="hidePassword ? 'password' : 'text'"
      controlName="password"
      placeholder="password"
      [icon]="hidePassword ? 'visibility_off' : 'visibility'"
      (iconClicked)="hidePassword=!hidePassword"
    />
  </app-layout-form-group>
</main>
<footer>
  <p>Already have an account?</p>
  <span></span>
  <p class="link" (click)="navigateToSignUp()">Sign up</p>
  <span></span>
  <p class="separator">|</p>
  <span></span>
  <p class="link" (click)="navigateToResetPassword()">Reset password</p>
</footer>

