<header>
  <h3>reset password</h3>
</header>
<main>
  <form [formGroup]="formGroup" (submit)="resetPasswordHandler()">
    <div>
      <input
        type="email"
        formControlName="email"
        placeholder="email"
      >
      <mat-icon>mail</mat-icon>
    </div>
    <div>
      <input
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        placeholder="password"
      >
      <mat-icon
        (click)="hidePassword = !hidePassword"
        style="cursor: pointer"
      >
        {{ hidePassword ? "visibility_off" : "visibility" }}
      </mat-icon>
    </div>
  </form>
  <div>
    <p>{{ status || "" }}</p>
    <button (click)="resetPasswordHandler()">reset password</button>
  </div>
</main>
<footer>
  <p>Already have an account?</p>
  <span></span>
  <p class="link" (click)="navigateToSignUp()">Sign up</p>
  <span></span>
  <p class="separator">|</p>
  <span></span>
  <p class="link" (click)="navigateToResetPassword()">Reset password</p>
</footer>

