:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid var(--border-primary);
  border-radius: 20px;
  background-color: var(--background-primary);
  box-shadow: 0 1px 3px 0 rgba(200, 200, 200, 0.5);
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
