:host {
  background: var(--background-gradient-100);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.get-started {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  outline: 0;
  width: 150px;
  background-color: var(--static-green-accent);
  border: 0;
  border-radius: 30px;
  padding: 15px;
  color: var(--typography-secondary);
  cursor: pointer;
  font-size: large;
}

.get-started:hover {
  color: var(--typography-primary);
}
