:root {
  --background-primary: #1d1d1f;
  --background-secondary: #242425;
  --background-tertiary: #343434;
  --background-quaternary: #e2d8d8;
  --background-quinary: #e2d8d8;

  --background-gradient-100: linear-gradient(
    110.6deg, rgb(76, 49, 58) -18.3%,
    rgb(67, 54, 74) 16.4%,
    rgb(47, 48, 67) 68.2%,
    rgb(27, 23, 36) 99.1%
  );

  --foreground-primary: #08090a;
  --foreground-secondary: #a3b9cc;
  --foreground-tertiary: #f4faff;
  --foreground-quaternary: #e2d8d8;
  --foreground-quinary: #f2f5ff;

  --typography-primary: #f2f5ff;
  --typography-secondary: #ffffffb3;
  --typography-tertiary: #6cb4ee;
  --typography-quaternary: #6cb4ee;

  --border-primary: dimgray;
  --border-secondary: #921e1e;

  --shadow-primary: 0 1px 3px 0 rgba(200, 200, 200, 0.5);
  --shadow-secondary: 0 1px 3px 0 rgba(200, 200, 200, 0.5);

  --static-blue-accent: blue;
  --static-green-accent: green;
  --static-red-accent: red;
  --static-gray-accent: dimgray;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: var(--background-primary);
  overflow: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--typography-primary);
}

dialog {
  background-color: var(--background-primary);
  color: var(--typography-primary);
}
