:root {
  --dark-accent-0: #08090a;
  --dark-accent-1: #0f0f11;
  --dark-accent-2: #151719;
  --dark-accent-3: #161513;

  --light-accent-0: #eaeaea;
  --light-accent-1: #f2f5ff;
  --light-accent-2: #f7f7f7;
  --light-accent-3: #fbfbff;

  --gray-accent-0: #312d2a;
  --gray-accent-1: #333333;
  --gray-accent-2: #555555;

  --background-primary: #1d1d1f;
  --background-secondary: #343434;
  --background-tertiary: #343434;
  --background-quaternary: #e2d8d8;
  --background-quinary: #e2d8d8;

  --foreground-primary: #08090a;
  --foreground-secondary: #a3b9cc;
  --foreground-tertiary: #f4faff;
  --foreground-quaternary: #e2d8d8;
  --foreground-quinary: #f2f5ff;

  --typography-primary: #f2f5ff;
  --typography-secondary: #ffffffb3;
  --typography-tertiary: #6cb4ee;
  --typography-quaternary: #6cb4ee;

  --static-blue-accent: blue;
  --static-green-accent: green;
  --static-red-accent: red;
  --static-gray-accent: dimgray;

  --border-primary: dimgray;
  --border-secondary: #921e1e;

  --shadow-primary: 0 1px 3px 0 rgba(8, 9, 10, 0.5);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: var(--background-primary);
  overflow: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--typography-primary);
}
