<div class="container">
  <form [formGroup]="login" (submit)="loginHandler()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          style="color: var(--text-color)"
          formControlName="email"
          matInput
          required
        />
        <mat-icon matSuffix>mail</mat-icon>
        <mat-hint *ngIf="emailInvalid" style="color: var(--text-color)">
          {{
            email?.hasError("required") ? "Email is required" : "Invalid email"
          }}
        </mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          required
          style="color: var(--text-color)"
        />
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">
          {{ hidePassword ? "visibility_off" : "visibility" }}
        </mat-icon>
        <mat-hint *ngIf="passwordInvalid" style="color: var(--text-color)">
          {{
            password?.hasError("required")
              ? "Password is required"
              : "Insufficient password length"
          }}
        </mat-hint>
      </mat-form-field>
    </p>
    <div class="submit-container">
      <p
        *ngIf="loginStatus && loginStatus.length > 0"
        style="color: var(--text-color); font-size: small"
      >
        {{ loginStatus }}
      </p>
      <button mat-flat-button type="submit">Sign In</button>
    </div>
  </form>
</div>
