:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--background-primary);
}

header {
  flex-basis: fit-content;
}

header > h1 {
  background: var(--background-gradient-200);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header > p {
  font-weight: 300;
}

main {
  flex: 1;
}

footer {
  flex-basis: 10%;
}

footer > p {
  font-size: small;
}
