:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-shared-ui-icon {
  color: var(--typography-secondary);
  transform: scale(0.75);
  cursor: pointer;
}

app-shared-ui-icon:hover {
  color: var(--typography-primary);
}
