:host {
  background: var(--background-gradient-100);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border-right: 1px solid var(--border-primary);
}

header {
  height: 2rem;
  padding: 5px;
  border-bottom: 1px solid var(--border-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
}

main {
  flex: 1;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

dialog {
  background-color: var(--background-tertiary);
  border: var(--dialog-border);
  border-radius: 10px;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

dialog[open] {
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}
