<app-layout-form-group
  submitButtonName="save group"
  [formGroup]="formGroup"
  [errorDictionaries]="errorDictionaries"
  [submitHandler]="submitHandler"
>
  <app-layout-form-field
    [formGroup]="formGroup"
    controlName="name"
    placeholder="name"
    icon="dns"
  />
  <app-layout-form-field
    [formGroup]="formGroup"
    controlName="description"
    placeholder="description"
    icon="description"
  />
  <app-layout-form-field
    [formGroup]="formGroup"
    [readOnly]="!group()"
    title="path to parent group"
    controlName="directory"
    icon="folder"
    placeholder="/path/to/parent"
  />
</app-layout-form-group>
