<app-layout-form-group
  [formGroup]="formGroup"
  [submitHandler]="submitHandler"
  [errorDictionaries]="errorDictionaries"
  submitButtonName="save"
>
  <app-layout-form-field
    [formGroup]="formGroup"
    controlName="title"
    placeholder="title"
    icon="title"
  />
  <app-layout-form-field
    [formGroup]="formGroup"
    controlName="description"
    placeholder="description"
    icon="description"
  />
  <app-layout-form-field
    [formGroup]="formGroup"
    controlName="start"
    icon="calendar_month"
    type="datetime-local"
    title="start"
  />
  <app-layout-form-field
    [formGroup]="formGroup"
    controlName="duration"
    icon="timer"
    title="duration"
  />
  <app-layout-form-field
    [formGroup]="formGroup"
    controlName="color"
    icon="palette"
    type="color"
    title="color"
  />
  <app-layout-form-field
    [formGroup]="formGroup"
    controlName="repeat"
    icon="event_repeat"
    type="select"
    title="repeat"
  >
    @for (option of repeatOptions; track option) {
      <option>{{ option }}</option>
    }
  </app-layout-form-field>
  @if (repeatEveryEnabled$ | async) {
    <app-layout-form-field
      [formGroup]="formGroup"
      controlName="repeatEveryUnit"
      icon="repeat"
      type="select"
      title="repeat interval unit"
    >
      @for (option of repeatEveryUnits; track option) {
        <option>{{ option }}</option>
      }
    </app-layout-form-field>
    <app-layout-form-field
      [formGroup]="formGroup"
      controlName="repeatEveryValue"
      icon="repeat"
      title="repeat interval value"
    />
  }
</app-layout-form-group>
