<form [formGroup]="eventFormGroup">
  <p>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Title</mat-label>
      <input
        style="color: var(--foreground-quinary)"
        formControlName="title"
        matInput
      />
      <mat-icon matSuffix>title</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Description</mat-label>
      <input
        style="color: var(--foreground-quinary)"
        formControlName="description"
        matInput
      />
      <mat-icon matSuffix>description</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Start</mat-label>
      <input
        style="color: var(--foreground-quinary)"
        formControlName="start"
        matInput
        type="datetime-local"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Duration (minutes)</mat-label>
      <input
        style="color: var(--foreground-quinary)"
        formControlName="duration"
        matInput
      />
      <mat-icon matSuffix>timer</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Color</mat-label>
      <input
        style="color: var(--foreground-quinary)"
        formControlName="color"
        matInput
        type="color"
      />
      <mat-icon matSuffix>palette</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Repeat</mat-label>
      <select
        style="color: var(--foreground-quinary)"
        formControlName="repeat"
        matNativeControl
      >
        <option>none</option>
        <option>daily</option>
        <option>weekly</option>
        <option>monthly</option>
        <option>yearly</option>
        <option>custom</option>
      </select>
      <mat-icon matSuffix>event_repeat</mat-icon>
    </mat-form-field>
  </p>
  @if (repeatEveryEnabled$ | async) {
    <p>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Repeat every</mat-label>
        <div style="display: flex">
          <input
            style="color: var(--foreground-quinary)"
            matInput
            formControlName="repeatEveryValue"
          />
          <select
            style="color: var(--foreground-quinary)"
            formControlName="repeatEveryUnit"
            matNativeControl
          >
            <option>days</option>
            <option>weeks</option>
            <option>months</option>
            <option>years</option>
          </select>
        </div>
        <mat-icon matSuffix>repeat</mat-icon>
      </mat-form-field>
    </p>
  }
  <div class="button-container">
    <button mat-flat-button (click)="submitEvent()">Submit</button>
    <button mat-flat-button (click)="$cancelButtonClicked.emit()" type="button">
      Cancel
    </button>
    @if (calendarEvent()) {
      <button
        mat-flat-button
        (click)="$deleteButtonClicked.emit(calendarEvent()!)"
        type="button"
      >
        Delete
      </button>
    }
  </div>
</form>
