<div class="calendar-header-left">
  <div
    class="calendar-header-left-today"
    (mouseenter)="onTodayButtonHovered()"
    (click)="onTodayButtonClicked()"
  >
    <p style="color: var(--foreground-quinary); font-size: small">Today</p>
  </div>
  <div
    class="calendar-header-left-today-info"
    style="color: var(--foreground-quinary); font-size: small"
  >
    {{ todayString$ | async }}
  </div>
</div>
<div class="calendar-header-navigation">
  <mat-icon
    style="color: var(--foreground-quinary); cursor: pointer"
    matSuffix
    (click)="onPrevButtonClicked()"
  >arrow_back_ios
  </mat-icon
  >
  <p style="color: white">
    {{ (firstWeekday$ | async)?.toFormat("MMMM dd, yyyy") }}
  </p>
  <div style="width: 100px"></div>
  <p style="color: white">
    {{ (lastWeekday$ | async)?.toFormat("MMMM dd, yyyy") }}
  </p>
  <mat-icon
    style="color: var(--foreground-quinary); cursor: pointer"
    matSuffix
    (click)="onNextButtonClicked()"
  >arrow_forward_ios
  </mat-icon
  >
</div>
<div class="calendar-header-right">
  <mat-icon
    matSuffix
    style="color: var(--foreground-quinary); cursor: pointer; align-self: center"
    (click)="onAddEventButtonClicked.emit()"
  >edit_calendar
  </mat-icon
  >
</div>
