:host {
  width: 100%;
  height: 100%;
  display: flex;
}

.calendar-header-left,
.calendar-header-right {
  flex: 0 1 20%;
  height: 100%;
}

.calendar-header-left {
  display: flex;
  align-items: center;
  position: relative;
}

.calendar-header-left-today {
  cursor: pointer;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.calendar-header-left-today > p {
  font-size: small;
}

.calendar-header-left-today-info {
  display: none;
  background-color: gray;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
  margin-top: 3px;
}

.calendar-header-left-today:hover + .calendar-header-left-today-info {
  display: block;
  position: absolute;
  top: 100%;
}

.calendar-header-navigation {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.calendar-header-navigation > app-shared-ui-icon {
  color: var(--typography-secondary);
  transform: scale(1.5);
  cursor: pointer;
}

.calendar-header-navigation > app-shared-ui-icon:hover {
  color: var(--typography-primary);
}

.calendar-header-navigation > div {
  width: 100px;
}

.calendar-header-right {
  display: flex;
  flex-direction: row-reverse;
  /* border-left: 1px solid gray; */
  padding-right: 20px;
  padding-left: 10px;
}

.calendar-header-right > app-shared-ui-icon {
  color: var(--typography-secondary);
  cursor: pointer;
  align-self: center;
}

.calendar-header-right > app-shared-ui-icon:hover {
  color: var(--typography-primary);
}
