<div class="calendar-header-left">
  <div
    class="calendar-header-left-today"
    (mouseenter)="onTodayButtonHovered()"
    (click)="onTodayButtonClicked()"
    [title]="todayString$ | async"
  >
    <p>Today</p>
  </div>
</div>
<div class="calendar-header-navigation">
  <app-shared-ui-icon
    name="arrow_left"
    (click)="onPrevButtonClicked()"
    title="previous week"
  />
  <p>{{ (firstWeekday$ | async)?.toFormat("MMMM dd, yyyy") }}</p>
  <div></div>
  <p>{{ (lastWeekday$ | async)?.toFormat("MMMM dd, yyyy") }}</p>
  <app-shared-ui-icon
    name="arrow_right"
    (click)="onNextButtonClicked()"
    title="next week"
  />
</div>
<div class="calendar-header-right">
  <app-shared-ui-icon
    name="edit_calendar"
    (click)="onAddEventButtonClicked.emit()"
    title="add event"
  />
</div>
