<div class="calendar-header-left">
  <div
    class="calendar-header-left-today"
    (mouseenter)="onTodayHovered()"
    (click)="onTodayClicked()"
  >
    <p style="color: var(--foreground-light); font-size: small">Today</p>
  </div>
  <div
    class="calendar-header-left-today-info"
    style="color: var(--foreground-light); font-size: small"
  >
    {{ today }}
  </div>
</div>
<div class="calendar-header-navigation">
  <mat-icon
    style="color: var(--foreground-light); cursor: pointer"
    matSuffix
    (click)="prevButtonHandler()"
    >arrow_back_ios</mat-icon
  >
  <p style="color: white">
    {{ firstWeekday?.toFormat("MMMM dd, yyyy") }}
  </p>
  <div style="width: 100px"></div>
  <p style="color: white">
    {{ lastWeekday?.toFormat("MMMM dd, yyyy") }}
  </p>
  <mat-icon
    style="color: var(--foreground-light); cursor: pointer"
    matSuffix
    (click)="nextButtonHandler()"
    >arrow_forward_ios</mat-icon
  >
</div>
<div class="calendar-header-right"></div>
