.container {
  display: flex;
  height: 100%;
}

.main-container {
  flex: 1;
  margin: 20px;
  margin-bottom: 0;
  background-color: var(--background-secondary);
}

.sidebar-container {
  width: 10%;
  margin: 20px;
  margin-bottom: 0;
  margin-left: 0;
  background-color: var(--background-secondary);
}
