<div class="container">
  <div class="calendar-view">
    <header class="calendar-header">
      <app-home-calendar-header
        [today$]="todayString$"
        [firstWeekday$]="firstDayOfWeek$"
        [lastWeekday$]="lastDayOfWeek$"
        ($todayButtonHovered)="onTodayButtonHovered()"
        ($todayButtonClicked)="onTodayButtonClicked()"
        ($nextButtonClicked)="onNextButtonClicked()"
        ($prevButtonClicked)="onPrevButtonClicked()"
        ($addEventButtonClicked)="openEventEditor()"
      />
    </header>
    <main class="calendar-main">
      <app-home-calendar-week-view
        [calendarEvents]="(calendarEvents$ | async) || []"
        [weekDays]="(weekDays$ | async) || []"
        ($eventClicked)="openEventEditor($event)"
      />
      <dialog #eventEditorModal (close)="closeEventEditor()">
        @if(eventEditorVisible){
        <app-shared-calendar-event-editor
          [type]="eventEditorType"
          [calendarEvent]="selectedCalendarEvent"
          ($submitButtonClicked)="submitCalendarEvent($event)"
          ($cancelButtonClicked)="closeEventEditor()"
          ($deleteButtonClicked)="deleteCalendarEvent($event)"
        ></app-shared-calendar-event-editor>
        }
      </dialog>
    </main>
  </div>
  <!-- <div class="sidebar-view">
    <app-home-calendar-sidebar />
  </div> -->
</div>
