<div class="container">
  <div class="calendar-view">
    <header class="calendar-header">
      <app-home-calendar-header
        [today$]="today"
        [firstWeekday$]="currentFirstDayOfWeek$"
        [lastWeekday$]="currentLastDayOfWeek$"
        ($todayButtonHovered)="onTodayButtonHovered()"
        ($todayButtonClicked)="onTodayButtonClicked()"
        ($nextButtonClicked)="onNextButtonClicked()"
        ($prevButtonClicked)="onPrevButtonClicked()"
        ($addEventButtonClicked)="openEventEditor()"
      />
    </header>
    <main class="calendar-main">
      <app-home-calendar-week-view
        [calendarEvents$]="calendarEvents$"
        [weekDays$]="currentWeekDays$"
      />
      <dialog #eventEditorModal>
        <app-shared-calendar-event-dialog
          ($cancelButtonClicked)="closeEventEditor()"
        ></app-shared-calendar-event-dialog>
      </dialog>
    </main>
  </div>
  <!-- <div class="sidebar-view">
    <app-home-calendar-sidebar />
  </div> -->
</div>
