:host {
  --header-height: 3rem;
  --header-padding: 25px;
  --button-background-color: var(--foreground-primary);
  --button-border-color: var(--border-secondary);
  --button-width: 100px;
  --button-margin: 10px;
  --text-color: var(--foreground-light);
  --button-shadow: var(--shadow-primary);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.welcome-message {
  color: var(--text-color);
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

dialog[open] {
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}
