:host {
  --prompt-border: 1px solid var(--border-secondary);
  --text-color: var(--foreground-light);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

mat-hint {
  color: var(--text-color);
}

#mat-input-0 {
  color: var(--text-color);
}
