:host {
  --prompt-border: 1px solid var(--border-secondary);
  --text-color: var(--foreground-light);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.submit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
