.date-view {
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.date-view-span {
  width: 5%; /* variable */
}

.date-label-view {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid gray;
}

.date-label {
  color: var(--foreground-light);
  font-size: small;
}

.timeline-view {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.time-view {
  width: 5%; /* variable */
  display: flex;
  flex-direction: column;
}

.time {
  height: 50px; /* variable */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid gray;
  border-bottom: 1px hidden;
}

.time-text {
  color: var(--foreground-light);
  font-size: small;
}

.week-view {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.week-day-view {
  flex: 1;
  border-left: 1px solid gray; /* variable */
}

.hour {
  height: 50px; /* variable */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gray;
  cursor: pointer;
}
