<header>
  <app-layout-home-calendar-header (onAddEventButtonClicked)="openEventEditor()"/>
</header>
<main>
  <app-layout-home-calendar-week-view
    [calendarEvents]="(calendarEvents$ | async) ?? []"
    (onEventClicked)="openEventEditor($event)"
  />
  <dialog #eventEditorModal (close)="closeEventEditor()">
    @if (eventEditorVisible) {
      <app-layout-home-calendar-editor
        [type]="eventEditorType"
        [calendarEvent]="selectedCalendarEvent"
        ($submitButtonClicked)="submitCalendarEvent($event)"
        ($cancelButtonClicked)="closeEventEditor()"
        ($deleteButtonClicked)="deleteCalendarEvent($event)"
      ></app-layout-home-calendar-editor>
    }
  </dialog>
</main>
