<header>
  <app-layout-home-calendar-header
    (onAddEventButtonClicked)="openEventEditor()"
  />
</header>
<main>
  <app-layout-home-calendar-week-view
    [calendarEvents]="(calendarEvents$ | async) ?? []"
    (onEventClicked)="openEventEditor($event)"
  />
  <app-layout-modal
    [modalShouldOpen]="modalShouldOpen"
    (modalShouldClose)="closeEventEditor()"
  >
    @if (selectedCalendarEvent) {
      <app-layout-modal-tool icon="delete" (click)="deleteCalendarEvent(selectedCalendarEvent)"/>
    }
    @if (modalShouldOpen) {
      <app-layout-home-calendar-editor
        [calendarEvent]="selectedCalendarEvent"
        (submitButtonClicked)="submitCalendarEvent($event)"
      ></app-layout-home-calendar-editor>
    }
  </app-layout-modal>
</main>
