<header>
  <app-layout-home-calendar-header
    (onAddEventButtonClicked)="openEventEditor()"
  />
</header>
<main>
  <app-layout-home-calendar-week-view
    [calendarEvents]="(calendarEvents$ | async) ?? []"
    (onEventClicked)="openEventEditor($event)"
  />
  <app-layout-dialog-modal
    [modalShouldOpen]="modalShouldOpen"
    (modalShouldClose)="closeEventEditor()"
  >
    @if (modalShouldOpen) {
      <app-layout-home-calendar-editor
        [calendarEvent]="selectedCalendarEvent || undefined"
        ($submitButtonClicked)="submitCalendarEvent($event)"
        ($cancelButtonClicked)="closeEventEditor()"
        ($deleteButtonClicked)="deleteCalendarEvent($event)"
      ></app-layout-home-calendar-editor>
    }
  </app-layout-dialog-modal>
</main>
