<header>
  <h2 style="font-weight: normal">Recent activities</h2>
</header>
<main>
  <!--  @for (transaction of transactions; track transaction.id) {-->
  <!--    <app-home-finance-recent-activities-transaction-->
  <!--      [transaction]="transaction"-->
  <!--    />-->
  <!--  }-->
  <app-home-finance-daily-transactions/>
  <app-home-finance-daily-transactions/>
  <app-home-finance-daily-transactions/>
  <app-home-finance-daily-transactions/>
  <app-home-finance-daily-transactions/>
  <app-home-finance-daily-transactions/>
  <app-home-finance-daily-transactions/>
  <app-home-finance-daily-transactions/>
  <app-home-finance-daily-transactions/>
  <app-home-finance-daily-transactions/>
  <app-home-finance-daily-transactions/>
  <app-home-finance-daily-transactions/>
</main>
