<div class="container">
  <div class="hour" id="hour-0"></div>
  <div class="hour" id="hour-1"></div>
  <div class="hour" id="hour-2"></div>
  <div class="hour" id="hour-3"></div>
  <div class="hour" id="hour-4"></div>
  <div class="hour" id="hour-5"></div>
  <div class="hour" id="hour-6"></div>
  <div class="hour" id="hour-7"></div>
  <div class="hour" id="hour-8"></div>
  <div class="hour" id="hour-9"></div>
  <div class="hour" id="hour-10"></div>
  <div class="hour" id="hour-11"></div>
  <div class="hour" id="hour-12"></div>
  <div class="hour" id="hour-13"></div>
  <div class="hour" id="hour-14"></div>
  <div class="hour" id="hour-15"></div>
  <div class="hour" id="hour-16"></div>
  <div class="hour" id="hour-17"></div>
  <div class="hour" id="hour-18"></div>
  <div class="hour" id="hour-19"></div>
  <div class="hour" id="hour-20"></div>
  <div class="hour" id="hour-21"></div>
  <div class="hour" id="hour-22"></div>
  <div class="hour" id="hour-23"></div>
</div>
