<header>
  <div class="back">
    <button title="go back to the parent group">
      <app-shared-ui-icon (click)="goBack()" name="arrow_back"/>
    </button>
  </div>
  <div class="search-bar">
    <div class="slash">/</div>
    <input
      type="text"
      [value]="displayedPath(rootGroup$()?.path || '/')"
    >
    <button title="search for groups">
      <app-shared-ui-icon name="search"/>
    </button>
  </div>
  <div class="month-year-picker">
    <select>
      @for (month of months; track month) {
        <option [selected]="months[today.getMonth()] === month">
          {{ month }}
        </option>
      }
    </select>
    <select>
      @for (year of years; track year) {
        <option [selected]="today.getFullYear() === year">
          {{ year }}
        </option>
      }
    </select>
    <!--    <input type="number" [defaultValue]="2024">-->
  </div>
  <div class="buttons">
    <button
      title="add a new transaction"
      (click)="transactionEditorShouldOpen=true"
    >
      <app-shared-ui-icon name="add"/>
    </button>
    <button
      title="create a new group"
      (click)="groupEditorShouldOpen=true"
    >
      <app-shared-ui-icon name="create_new_folder"/>
    </button>
    <button
      title="edit the current group"
      (click)="editTransactionGroup()"
    >
      <app-shared-ui-icon name="edit_note"/>
    </button>
    <button title="filter groups">
      <app-shared-ui-icon name="sort"/>
    </button>
  </div>
</header>
<div class="margin"></div>
<main>
  @for (childGroup of (childrenGroups$ | async); track childGroup.id) {
    <app-layout-home-finance-main-section-group-view [group]="childGroup"/>
  }
</main>
<app-layout-dialog-modal
  [modalShouldOpen]="groupEditorShouldOpen"
  (modalShouldClose)="closeGroupEditor()"
>
  @if (groupEditorShouldOpen) {
    <app-layout-home-finance-group-editor
      [group]="selectedGroup"
    />
  }
</app-layout-dialog-modal>
<app-layout-dialog-modal
  [modalShouldOpen]="transactionEditorShouldOpen"
  (modalShouldClose)="transactionEditorShouldOpen=false"
>
  @if (transactionEditorShouldOpen) {
    <app-layout-home-finance-transaction-editor
      [transaction]="undefined"
    />
  }
</app-layout-dialog-modal>
