<ng-container [formGroup]="formGroup()">
  @switch (type()) {
    @case ("select") {
      <select [formControlName]="controlName()" [contentEditable]="readOnly().toString()">
        <ng-content/>
      </select>
    }
    @default {
      <input
        [formControlName]="controlName()"
        [type]="type()"
        [placeholder]="placeholder()"
        [readOnly]="readOnly()"
      />
    }
  }

  @let titleText = title() || placeholder();
  @if (titleText) {
    <app-shared-ui-icon [name]="icon()" (click)="iconClicked.emit()" [title]="titleText"/>
    <!--    <mat-icon (click)="iconClicked.emit()" [title]="titleText">{{ icon() }}</mat-icon>-->
  } @else {
    <app-shared-ui-icon [name]="icon()" (click)="iconClicked.emit()"/>
  }
  <!--    @if (titleText) {-->
  <!--      <mat-icon (click)="iconClicked.emit()" [title]="titleText">{{ icon() }}</mat-icon>-->
  <!--    } @else {-->
  <!--      <mat-icon (click)="iconClicked.emit()">{{ icon() }}</mat-icon>-->
  <!--    }-->
</ng-container>
