<ng-container [formGroup]="formGroup()">
  @switch (type()) {
    @case ("select") {
      <select [formControlName]="controlName()">
        <ng-content/>
      </select>
    }
    @default {
      <input
        [formControlName]="controlName()"
        [type]="type()"
        [placeholder]="placeholder()"
      />
    }
  }

  @let titleText = title() || placeholder();
  @if (titleText) {
    <mat-icon matSuffix (click)="iconClicked.emit()" [title]="titleText">{{ icon() }}</mat-icon>
  } @else {
    <mat-icon matSuffix (click)="iconClicked.emit()">{{ icon() }}</mat-icon>
  }
</ng-container>
