:host {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  background-color: var(--background-tertiary);
}

input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: transparent;
  color: var(--typography-primary);
}

input[type="color" i] {
  height: calc(15px * 2 + 14px + 2px);
}

select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: transparent;
  color: var(--typography-primary);
}

app-shared-ui-icon {
  color: var(--static-green-accent);
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}
