:host {
  flex: 0 0 30%;
  display: block;
  background-color: var(--background-secondary);
  margin-bottom: 20px;
  overflow: scroll;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--background-tertiary);
  border: 1px solid var(--border-primary);
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

:host > div {
  height: 10px;
  position: sticky;
  z-index: 1000;
  top: calc(40px + 2px);
  background-color: var(--background-secondary);
}

main {
  display: block;
}

.info {
  flex: 1;
  border-right: 1px solid var(--border-primary);
}


.group {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  /*border-right: 1px solid var(--border-primary);*/
}

mat-icon {
  color: var(--typography-primary);
  transform: scale(1);
}

button {
  all: unset;
  cursor: pointer;
  height: 100%;
  border-radius: 5px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

button:hover {
  background-color: var(--border-primary);
}
