<header>
  <div class="back">
    <button title="go back to the parent group">
      <mat-icon (click)="goBack()">arrow_back</mat-icon>
    </button>
  </div>
  <div class="search-bar">
    <div class="slash">/</div>
    <input
      type="text"
      [value]="displayedPath(rootGroup$()?.path || '/')"
    >
    <button title="search for groups">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="month-year-picker">
    <select>
      @for (month of months; track month) {
        <option [selected]="months[today.getMonth()] === month">
          {{ month }}
        </option>
      }
    </select>
    <select>
      @for (year of years; track year) {
        <option [selected]="today.getFullYear() === year">
          {{ year }}
        </option>
      }
    </select>
    <!--    <input type="number" [defaultValue]="2024">-->
  </div>
  <div class="buttons">
    <button
      title="add a new transaction"
      (click)="transactionEditorShouldOpen=true"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      title="create a new group"
      (click)="groupEditorShouldOpen=true"
    >
      <mat-icon>create_new_folder</mat-icon>
    </button>
    <button
      title="edit the current group"
      (click)="editTransactionGroup()"
    >
      <mat-icon>edit_note</mat-icon>
    </button>
    <button title="filter groups">
      <mat-icon>sort</mat-icon>
    </button>
  </div>
</header>
<div class="margin"></div>
<main>
  @for (childGroup of (childrenGroups$ | async); track childGroup.id) {
    <app-layout-home-finance-main-section-group [group]="childGroup"/>
  }
</main>
<app-layout-dialog-modal
  [modalShouldOpen]="groupEditorShouldOpen"
  (modalShouldClose)="closeGroupEditor()"
>
  <app-layout-home-finance-group-editor
    [group]="selectedGroup"
  />
</app-layout-dialog-modal>
<app-layout-dialog-modal
  [modalShouldOpen]="transactionEditorShouldOpen"
  (modalShouldClose)="transactionEditorShouldOpen=false"
>
  <app-layout-home-finance-transaction-editor/>
</app-layout-dialog-modal>
