<div class="group info"></div>
<div class="group">
  <button>
    <mat-icon (click)="transactionEditorShouldOpen=true">
      add
    </mat-icon>
  </button>
  <button>
    <mat-icon (click)="groupEditorShouldOpen=true">
      create_new_folder
    </mat-icon>
  </button>
</div>
<div class="group">
  <button>
    <mat-icon>search</mat-icon>
  </button>
  <button>
    <mat-icon>sort</mat-icon>
  </button>
</div>
@if (groupEditorShouldOpen) {
  <app-layout-modal
    [modalShouldOpen]="groupEditorShouldOpen"
    (modalShouldClose)="groupEditorShouldOpen=false"
  >
    <app-layout-home-finance-group-editor/>
  </app-layout-modal>
} @else if (transactionEditorShouldOpen) {
  <app-layout-modal
    [modalShouldOpen]="transactionEditorShouldOpen"
    (modalShouldClose)="transactionEditorShouldOpen=false"
  >
    <app-layout-home-finance-transaction-editor/>
  </app-layout-modal>
}
