:host {
  --header-height: 3rem;
  --sidebar-flex: 0 1 15%;

  height: 100%;
  display: flex;
}

.content {
  flex: 1 1 85%;
  height: 100%;
  display: block;
}

app-layout-home-header {
  height: var(--header-height);
}

main {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(100% - var(--header-height));
  padding: 20px;
  padding-top: 0;
}

.content > main > div {
  flex: 0 0 20px;
}

app-layout-home-navigation-bar {
  height: 100%;
  flex: 0 1 15%;
}
