:host {
  --header-height: 3rem;
  --header-padding: 25px;
  --button-background-color: var(--foreground-primary);
  --button-width: 100px;
  --button-margin: 10px;
  --text-color: var(--foreground-quinary);
  --button-shadow: var(--shadow-primary);
  --dialog-background: var(--background-secondary);
  --dialog-border: 1px solid var(--border-secondary);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.welcome-message {
  color: var(--text-color);
}

.modal-header {
  display: flex;
  flex-direction: row;
}

.modal-header-span {
  display: flex;
  flex: 1;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-icon {
  color: var(--text-color);
}

a,
p {
  color: var(--text-color);
}

a {
  text-decoration: underline;
  cursor: pointer;
}

p {
  margin-right: 5px;
}

dialog {
  background-color: var(--dialog-background);
  border: var(--dialog-border);
  border-radius: 10px;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

dialog[open] {
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}
